<div id="restaurant-description">
    <h2>Welcome!</h2>
    <div id="content">
        <img id="img" src="../../assets/reastaurant.jpg" alt="">
        <p class="fs-5">
            We are pleased to be able to introduce you to the distinctive character of Vietnamese cuisine. she counts
            among the most diverse and healthiest in the world.
            Influences from China, India, Japan and France shape Vietnamese dishes. Take one with us
            culinary journey to a place where food means joy of life and enjoyment! <br><br>Your DimSum team
        </p>
    </div>
</div>