<div class="container">
    <div class="flex-container">
        <div id="order">
            <div class="card-header">
                Cart - {{items}} Item(s)
            </div>
            <div id="order-info" *ngFor="let val of cart">
                <img src="{{val.img}}" alt="{{val.name}}">
                <div>
                    <p class="fs-5 fw-bold">{{val.name }}</p>
                    <p class="fs-6">{{val.description}}</p>
                </div>
                <p class="fs-5 fw-bold">Price: €{{val.price}}</p>
            </div>
        </div>

        <div id="summary">
            <div class="card-header">
                Summary
            </div>
            <div>
                <div class="row row-cols-2 mx-2 mt-3 mb-3">
                    <div class="col-8">Products</div>
                    <div class="col-4">€{{products}}</div>
                    <div class="col-8">Service</div>
                    <div class="col-4">€{{service}}</div>
                    <div class="col-8">Discount -15%</div>
                    <div class="col-4">€{{discount}}</div>
                    <hr><hr/>
                    <div class="col-8">Total amount (including VAT)</div>
                    <div class="col-4">€{{total}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="order-form">
        <h1>Order Form</h1>
        <p class="fs-6">please fill up the info for the delivery</p>
        <hr>
        <p>Name</p>
        <input type="text">
        <p>Adress</p>
        <input type="text">
        <button>Purchase</button>
    </div>
</div>