<div id="specials">
    <h2>Check our specials</h2>
    <p class="fs-5">some of our favorite drishes:</p>
</div>

<div class="d-flex align-items-start p-5 ">
    <!-- sidebar -->
    <div class="nav flex-column me-5" id="v-tab">
        <button *ngFor="let val of dishArr, index as i" 
        [class.nav-link-active]="i === 0" 
        class="nav-link"
        data-bs-toggle="pill" 
        [attr.data-bs-target]="'#dish-' + i">{{val.name}}
        </button>
    </div>
    <!-- tab content -->
    <div *ngFor="let val of dishArr, index as i" class="tab-content">
        <div [class.active]="i === 0" 
            class="tab-pane fade show p-4" 
            [attr.id]="'dish-' + i" tabindex="0">
            <div id="content">
                <div>
                    <h3>{{val.name}}</h3>
                    <p class="fs-5">{{val.description}}</p>
                </div>
                <img src="{{val.img}}" alt="{{val.name}}">
            </div>
        </div>
    </div>
</div>